.custom-container{
	color : black;
}
.custom-datatable .slds-cell-edit {
    display: none; /* Hides the row number column */
}
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 1rem; 
}